.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #333;
  color: white;
  z-index: 999; /* Ensure the menu is on top */
}

.menu {
  position: absolute;
  background: #444;
  border-radius: 50%;
  overflow: hidden;
  z-index: 1000; /* Set a higher z-index */
}

.main {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1; /* Ensure content is behind the menu */
}

.mark {
  font-size: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 100;
  color: rgba(0, 0, 0, 0.035);
}

.introLine {
  display: flex;
  font-size: 6vw;
  justify-content: space-between;
  text-transform: uppercase;
  color: black;
  z-index: 1;
}

.introLine:nth-of-type(5), 
.introLine:nth-of-type(6) {
  display: inline-flex;
}

.introLine:nth-of-type(6) {
  right: -40px;
  position: relative;
}

.introLine p {
  margin: 0;
}

.contact {
  display: flex; /* Use flexbox */
  gap: 50px; /* Add space between links */
}

.contact a {
  color: #333; /* Link color */
  text-decoration: none; 
  font-weight: bold; 
  transition: color 0.3s ease; /* Smooth color transition */
}

.contact a:hover {
  color: #666; /* Change color on hover */
}
