.container {
  position: relative;
  z-index: 0;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.mark {
  font-size: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 100;
  color: rgba(0, 0, 0, 0.035);
  z-index: 0;
}

.main {
  z-index: 1;
}

.body {
  z-index: 1;
}

.introLine {
  display: flex;
  font-size: 6vw;
  justify-content: space-between;
  text-transform: uppercase;
  color: black;
  z-index: 1;
}

.introLine p {
  margin: 0;
}

.contact {
  display: flex;
  flex-direction: row; 
  align-items: center;
  justify-content: center; /* Added to center the items horizontally */
  gap: 20px;
  z-index: 1;
}

.contact a {
  color: #000;
  font-size: 30px;
  text-decoration: none; 
  font-weight: bold; 
  transition: color 0.3s ease;
  z-index: 1;
}

.contact a:hover {
  color: #666;
}

.backButton {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 40px;
  background: #444;
  border-radius: 50px;
  transition: width 0.75s, height 0.75s, top 0.75s, right 0.75s;
  z-index: 10; /* Ensure it stays on top */
}


.backButtonLink {
  color: white;
  font-size: 10px;
  text-decoration: none;
  font-weight: bold;
}
